@inherits Umbraco.Web.Mvc.UmbracoViewPage<dynamic>
@using Umbraco.Core.Models.PublishedContent

@{
    Layout = "layout.cshtml";
    var content = Umbraco.AssignedContentItem as IPublishedContent;
    var resortNode = content.AncestorOrSelf<ResortsHomePage>();
    if (resortNode != null)
    {
        var rawCat = content.Value<string>("resortCategory");
        var cat    = string.IsNullOrWhiteSpace(rawCat)
                   ? ""
                   : rawCat.ToLower().Trim();
        ViewBag.BodyClass = "resort-" + cat + " single header__black";
    }
    var resort = content.AncestorOrSelf("resortsHomePage");
    var type = content.Value<string>("restaurantType");
    var gallery = content.Value<IEnumerable<IPublishedContent>>("galleryImages")
                ?? Enumerable.Empty<IPublishedContent>();
    var infos = content  
      .Value<IEnumerable<SunSiyam.Core.Models.HeadingWithLinkItem>>("restaurantsBarsInfo")  
      ?? Enumerable.Empty<SunSiyam.Core.Models.HeadingWithLinkItem>(); 
    var longDesc = content.Value<string>("longDescription") ?? "";
    var page = Umbraco.AssignedContentItem;
}

@*@foreach(var prop in content.Properties)
{
  var alias = prop.Alias;
  var raw   = prop.GetValue();
  var text  = raw != null 
            ? raw.ToString() 
            : "";

  <div>
    @alias : @text
  </div>
}*@

<div class="restaurant-detail-page calendar-gallery__section">
    <div class="calendar-gallery__wrap">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 col-xxl-7">
                    @if (gallery.Any())
                    {
                        <div class="calendar-gallery__slider">
                            @foreach (var img in gallery)
                            {
                                <div class="calendar-gallery__slide">
                                    <div class="calendar-gallery__slide-wrap">
                                        <a href="@img.Url()" data-toggle="lightbox" data-gallery="gallery" class="calendar-gallery__slide-link">
                                            <img src="@img.GetCroppedImageUrl("947x1120")" class="calendar-gallery__slide-image" alt="@img.Name" />
                                        </a>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                </div>
                <div class="col-12 col-lg-6 col-xxl-5">
                    <div class="calendar-gallery__info">
                        <div class="calendar-gallery__title-wrap">
                            <h6 class="block__sub-title text-black mb-0">@type</h6>
                            <h1 class="block__title h3">@resort.Name</h1>
                        </div>
                        @if (infos.Any())
                        {
                            <ul class='custom__list list-unstyled mb-0'>
                                @foreach(var info in infos)
                                {
                                    if (info.ItemLinks != null && info.ItemLinks.Any())
                                    {
                                        foreach(var link in info.ItemLinks)
                                        {
                                            <li>
                                                @{ 
                                                    // 1) get the raw IHtmlString
                                                    var rawUrl = link.GetLinkUrl();
                                                    // 2) force to a plain string
                                                    string url = rawUrl != null 
                                                                 ? rawUrl.ToString() 
                                                                 : "";
                                                    // 3) decide whether it's a real link
                                                    bool isRealLink = link.IsValidLink() 
                                                                      && url != "#";
                                                }
                        
                                                @if (isRealLink)
                                                {
                                                    <a href='@url'>@link.Name</a>
                                                }
                                                else
                                                {
                                                    @link.Name
                                                }
                                            </li>
                                        }
                                    }
                                }
                            </ul>
                        }
                        <div class="calendar-gallery__description">
                            @Html.Raw(longDesc)
                        </div>
                        @*@if (Model.BookingButton != null && Model.BookingButton.IsValidLink())
                        {
                            <div class="calendar-gallery__button flex-wrap">
                                <a href="@Model.BookingButton.GetLinkUrl()" class="btn btn-outline-black">@Umbraco.GetDictionaryValue("Book Now")</a>
                            </div>
                        }*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="divider divider-gray"></div>
</div>

@if (page.Parent != null && page.Parent.Children.Count() > 1)
{
    <div class="calendar-event__section">
        <div class="calendar-event__wrap">
            <div class="calendar-event__head">
                <div class="container text-center">
                    <h6 class="block__sub-title text-black">@Umbraco.GetDictionaryValue("Culinary Odyssey")</h6>
                </div>
            </div>

            <div class="calendar-event__content">
                <div class="calendar-event__slider">
                    @foreach (var eventDetails in page.Parent.Children.OfType<RestaurantsBarsDetailPage>())
                    {
                        var typeRestaurant = eventDetails.Value<string>("restaurantType");
                        if (string.IsNullOrWhiteSpace(typeRestaurant)) 
                        {
                            typeRestaurant = "Cuisine";
                        }
                        <div class="calendar-event__slide">
                            <a href="@eventDetails.Url()">
                                <div class="calendar-event__slide-image">
                                    <img src="@eventDetails.FeaturedImage.GetCroppedImageUrl("467x534")" alt="@eventDetails.FeaturedImage.Name" class="img-fluid">
                                </div>
                                <div class="calendar-event__slide-title">
                                    <span class="calendar-event__slide-date">@typeRestaurant</span>
                                    @eventDetails.Name
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="divider divider-gray"></div>
    </div>
}

@*
<div class="intro__section">
    <div class="container text-center">
        <div class="intro__image mb-5">
            <img src="@Model.FeaturedImage.GetCroppedImageUrl("1640x820")" alt="@Model.FeaturedImage.Name" class="img-fluid w-100" />
        </div>
        <h1 class="block__title h2">@Model.Name</h1>
        <div class="block__description font-26 pt-xl-1">
            @Model.ShortDescription
        </div>
    </div>
</div>
<div class="content__section">
    <div class="content__wrap">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="content__description font-20">
                        @Model.LongDescription
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="content__list">
                        @if (!string.IsNullOrEmpty(Model.RestaurantsBarsInfo.FirstOrDefault().Heading))
                        {
                            <h6 class="block__sub-title mb-0">@Model.RestaurantsBarsInfo.FirstOrDefault().Heading</h6>
                        }
                        @if (Model.RestaurantsBarsInfo.FirstOrDefault().ItemLinks != null && Model.RestaurantsBarsInfo.FirstOrDefault().ItemLinks.Count() > 0)
                        {
                            <ul class="custom__list list-unstyled mb-0">
                                @foreach (var item in Model.RestaurantsBarsInfo.FirstOrDefault().ItemLinks)
                                {
                                    if (item.IsValidLink() == true)
                                    {
                                        <li>
                                            <a href="@item.GetLinkUrl()">@item.Name</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>@item.Name</li>
                                    }
                                }
                            </ul>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="divider divider-gray"></div>
</div>

@if (Model.GalleryImages != null && Model.GalleryImages.Count() > 0)
{
    <div class="content-slider__section">
        <div class="content-slider__wrap">
            <div class="container">
                <div class="content-slider__items">
                    @foreach (var item in Model.GalleryImages)
                    {
                        <div class="content-slider__item">
                            <div class="content-slider__image">
                                <img src="@item.GetCroppedImageUrl("1640x820")" alt="@item.Name" class="img-fluid">
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="divider divider-gray"></div>
    </div>
}

@{
    var items = Umbraco.AssignedContentItem.Siblings();
    if (!items.Any())
    {
        return;
    }

    var i = 0;

    <div class="content-more__section">
        <div class="content-more__wrap">
            <h3 class="content-more__title">@Umbraco.GetDictionaryValue("Explore our " + Model.RestaurantsBarsCategory.ToLower())</h3>
            <div class="content-more__slider">
                @foreach (var item in items.OfType<RestaurantsBarsDetailPage>())
                {
                    if (i < 9)
                    {
                        i++;
                    }
                    else
                    {
                        break;
                    }
                    <div class="content-more__slide">
                        <a href="@item.Url()">
                            <div class="content-more__slide-image">
                                <img src="@item.FeaturedImage.GetCroppedImageUrl("467x534")" alt="@item.FeaturedImage.Name" class="img-fluid">
                            </div>
                            <div class="content-more__slide-title">
                                @item.Name
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
        <div class="divider divider-gray"></div>
    </div>
}
*@