@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ImageCarousel>
@using ContentModels = SunSiyam.Core.Models;

@if (Model.Images != null && Model.Images.Any())
{
    foreach (var item in Model.Images)
    {
        <a 
            href="@item.Url()" 
            data-toggle="lightbox" 
            data-gallery="@Model.Heading.ToLower().Replace(" ", "")-gallery" 
            data-section="@Model.Heading.ToLower().Replace(" ", "")" 
            data-name="@Model.Heading"
            class="gallery-link">
            <img 
                src="@item.GetCroppedImageUrl("319x396")" 
                alt="@item.Name" 
                class="img-fluid" />
        </a>
    }
}